

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#beccbf ;
  animation: background-color-change 10s infinite;
}
h1{
  color:#1c4027;
}
#userDiv{
  background: #dddddd;
  border: 3px, solid, black;
  margin:20px;
}
.clear{
  clear:both;
}
.nav{
  text-decoration: none;
  list-style-type: none;
  color:black;
}
#title{
  margin-top:50px;
  margin-bottom: 50px;
}
#main-nav{
  position: relative;
  top: 130px;
  font-size:1.3em;
}
a{
  color:#1c4027;
  text-decoration:none;
}

a:visited {
  color: black;
}

a:hover {
  color:white;
}
.circle {
  border-radius:50%;
  width:30px;
  height:30px;
  border:3px solid black;
  display:inline-block;
  color:#fff;
  position:relative;
  left:800px;
  transition: all 1s;
  animation: background-color-change 10s infinite;
    }
.exe{
  font-size:2.2em;
  position:relative;
  right:250px;
  transition: all 1s;
  }
#theExe:hover .exe{
  transform:translate(1050px,0); 
  }
#OH:hover .circle{
  transform:translate(-1050px,0);
}
.grid-container {
    margin:35px;
    widows:500px;
    height:500px;
    display: grid;
    background-color: #dddddd;
    grid-gap:3px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-auto-rows:20% 20% 20% 20% 20%;
    padding: 10px;
    border-radius: 10px;
  }
  /* I found a few of these attributes on codepen as well*/
  .box {
    position: relative;
    background-color: #4c4c4c;
    width: 40px;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    cursor: help;
  }

  .box.x::before{
    content: "X";
  }
  .box.o::before{
    content: "O";
  }
  .gameEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 400px;
    height: 200px;
    padding: 20px 40px;
    background-color: #4897D8;
    animation:background-color-changesecond 2s infinite, shift 5s ease-in-out infinite;
    transform-origin:center center;
    transform-style:preserve-3d;
    font-size: 2rem;
    border-radius: 20px;
    text-align: center;
  }
  @keyframes animate{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  } 

.gameEnd button{
  margin-top: 20px;
  width: 100px;
  height: 55px;
  line-height: 55px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  color: #fff;
  background-color: #1c4027;
}/*.gameEnd is based on code from from CodePen https://codepen.io/fsociiety/pen/mzowOz */

@keyframes background-color-change{
  0%{
      background-color:#beccbf;
  }
  10%{
      background-color: #97c998; 
  }
  35%{
    background-color: #48745a;
  }
  50% {
      background-color: #1f5628;
  }
  75% {
      background-color: #48745a;
  }
  100% {
      background-color: #97c998;
  }
}
@keyframes background-color-changesecond{  
  0%{
    background-color:#4897D8;
}
25%{
  background-color: #FFDB5c;
}
50% {
    background-color: #FA6E59;
}
75% {
    background-color: #F8A055;
}
100% {
    background-color: #4897D8;
}
}
@keyframes shift {
0%{ 
  transform:rotate3d(1,1,0,30deg);
 }
25%{ 
  transform:rotate3d(-1,1,0,40deg); 
}
50%{ 
  transform:rotate3d(-1,-1,0,30deg); 
}
75%{ 
  transform:rotate3d(1,-1,0,40deg); 
}
100%{
  transform:rotate3d(1,1,0,30deg);
}
}
/* I found how to make this div rotate on http://cssdeck.com/labs/8lyrxjyw. */
@media screen and (max-width:768px){
  #title{
    position: relative;
    bottom:150px;
    margin-top:50px;
    margin-bottom: 50px;
  }
  #main-nav{
    position: relative;
    top: 130px;
    font-size:1.3em;
  }
  .circle{
    position:relative;
    left:550px;
  }
}

@media screen and (max-width:480px){

  #title{
    position: relative;
    bottom:150px;
    margin-top:50px;
    margin-bottom: 50px;
  }
  #main-nav{
    position: relative;
    top: 130px;
    font-size:1.3em;
  }
  .grid-container {
    margin:35px;
    widows:350px;
    height:350px;
    display: grid;
    background-color: #dddddd;
    grid-gap:3px;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows:33% 33% 33%;
    padding: 10px;
    border-radius: 10px;
  }
}